* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Helvetica Neue";
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  padding-top: 3vh;
}

@media (min-width: 820px) {
  #root {
    padding-top: 20vh;
  }
}

@media (orientation: portrait) {
  #root {
    padding-top: 20vh;
  }
}
